checkpoint4-開關上傳網頁.txt
[
    {
        "id": "d47fef46.777be",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52d141a0.592",
        "type": "http in",
        "z": "d47fef46.777be",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "7ef4191f.9f7188"
            ]
        ]
    },
    {
        "id": "dc496063.03a5f",
        "type": "debug",
        "z": "d47fef46.777be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "65242e15.81107",
        "type": "rpi-gpio in",
        "z": "d47fef46.777be",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "624ffb38.bc96e4"
            ]
        ]
    },
    {
        "id": "7ef4191f.9f7188",
        "type": "function",
        "z": "d47fef46.777be",
        "name": "Get GPIO",
        "func": "msg.payload=global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "dc496063.03a5f",
                "6bcd2b0a.20add4"
            ]
        ]
    },
    {
        "id": "6bcd2b0a.20add4",
        "type": "http response",
        "z": "d47fef46.777be",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "624ffb38.bc96e4",
        "type": "function",
        "z": "d47fef46.777be",
        "name": "Set GPIO",
        "func": "\nglobal.set(\"GPIO\",msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "dc496063.03a5f"
            ]
        ]
    }
]